/* BASIC STYLES HERE */


.list{
    min-height: 8rem;
    max-height: 8rem;
    overflow: scroll;
}

.hide {
    display: none;
  }

  .author:hover + .hide {
    display: block;
  }

  .bg{
      
      clear: both;
    background-position: center;
    background-size: cover;
  }

  .half-black {
    background: rgba(0, 0, 0, 0.5);
  }

  .custom-checkbox{
      width: 20px;
      height: 20px;
      cursor: pointer;
    
      
  }

  .headers{
      color: white;
  }

 

  .time{
      font-size: 65px;
  }
  